<tr class="prow$line_style_num">
            <td align="left" class="gensmall">$db_id</td>
            <td align="left" class="gensmall">$artist</td>
            <td class="gensmall">$date</td>
            <td align="left" class="gensmall">$album</td>
            <td class="gensmall">$tnumber</td>
            <td class="gensmall">$title</td>
            <td class="gensmall">$length</td>
            <td class="bitrate_style"><b>$bitrate</b></td>
            <td class="gensmall"><b>$mime</b></td>
            <td class="gensmall">
                <a class="genmed">$file_path</a>
            </td>
        </tr>